<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets" 
	xmlns:gap = "http://phonegap.com/ns/1.0" 
	id = "compassMemoApp" 
	version = "1.0.0" >

	<icon src="img/icon.png" />
	<splash src="img/icon.png" />
	<name>Compass Memo</name>
	<description>Navigate to memorized locations</description>
	<author>Piotr Miranowicz</author>
	
    <platform name="android">
        <preference name="android-minSdkVersion" value="20" />
        <preference name="android-targetSdkVersion" value="23" />

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.CAMERA" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>
</platform>
	
	<plugin name="cordova-plugin-device" spec="*" />
	<plugin name="cordova-plugin-dialogs" spec="*" />
	<plugin name="cordova-plugin-whitelist" spec="*" />
	<plugin name="cordova-plugin-camera" spec="*" />
	<plugin name="cordova-plugin-geolocation" spec="0.3.6" />
	<plugin name="cordova-plugin-file" spec="*" />
</widget>
