<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
		id          = "compassMemoApp"
        version     = "1.0.0" >

    <name>Compass Memo</name>
    <description>Navigate to memorized locations</description>
    <author href="" email="piotr.miranowicz@microsoft.wsei.edu.pl">
		Piotr Miranowicz
	<icon src="img/icon.png" />
	</author>
	<platform name="android" />
	
	<feature name="Geolocation">
		<param name="ios-package" value="CDVLocation" />
	</feature>
	
	<plugin name="cordova-plugin-device" spec="*" />
	<plugin name="cordova-plugin-dialogs" spec="*" />
	<plugin name="cordova-plugin-camera" spec="*"/>
	<plugin name="cordova-plugin-geolocation" spec="*" value="CDVLocation"/>

</widget>